.hand {
    cursor: pointer;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

input.not-unique {
    border: 1px solid red;
}
  
.ml{
    margin-left: 150px; 
}

.mr{
    margin-right: 20px;
}

.mb{
    margin-bottom: 20px; 
}

.wid{
    width: 300px;
}