<div class="container pt-5">
  <div class="row my-2">
      <div class="col-lg-8 order-lg-2">
          <ul class="nav nav-tabs">
              <li class="nav-item">
                  <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
              </li>
              <li class="nav-item">
                  <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
              </li>
          </ul>
          <div class="tab-content py-4">
              <div class="tab-pane active" id="profile">
                  <h5 class="mb-3">User Profile</h5>
                  <div class="row">
                      <div class="col-md-6">
                          <h6>First name</h6>
                          <p>
                              name
                          </p>
                          <h6>Last name</h6>
                          <p>
                              ln
                          </p>
                          <h6>Username</h6>
                          <p>
                              uname
                          </p>
                          <h6>Date of birth</h6>
                          <p>
                              date
                          </p>
                          <h6>Phone number</h6>
                          <p>
                              ph
                          </p>
                      </div>
                     
                  </div>
                  <!--/row-->
              </div>
              <div class="tab-pane" id="edit">
                  <form role="form">
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">First name</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="text" value="Jane">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="text" value="Bishop">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Username</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="text" value="email@gmail.com">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Phone number</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="text" value="">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Address</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="text" value="" placeholder="Street">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Role</label>
                          <div class="col-lg-9">
                              <select id="user_time_zone" class="form-control" size="0">
                                  <option value="Hawaii">(GMT-10:00) Hawaii</option>
                                  <option value="Alaska">(GMT-09:00) Alaska</option>
                                  <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                                  <option value="Arizona">(GMT-07:00) Arizona</option>
                                  <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                                  <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                                  <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                                  <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                              </select>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label"></label>
                          <div class="col-lg-9">
                              <input type="reset" class="btn btn-secondary" value="Cancel">
                              <input type="button" class="btn btn-primary" value="Save Changes">
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="col-lg-4 order-lg-1 text-center">
          <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
          <h6 class="mt-2">Upload a different photo</h6>
          <label class="custom-file">
              <input type="file" id="file" class="custom-file-input">
              <span class="custom-file-control">Choose file</span>
          </label>
      </div>
  </div>
  <app-student-pre-exam-obligation [(userId)]="userId" [(courseId)]="courseId" ></app-student-pre-exam-obligation>
  <app-professor-pre-exam-obligation [(userId)]="userId" [(courseId)]="courseId" ></app-professor-pre-exam-obligation>
</div>

